@import 'partials/variables.scss';

.media {
    height: 90px;
    display: flex;
    background-color: $black;
    color: $white;

    .head {
        display: flex;
        width: 20%;
        background-color: $black;
        justify-content: center;
        padding-top: 20px;

        .img1{
            width: 30%;
            height: 30%;
            img{
                width: 80px;
                height: 80px;
                margin-top: -15px;
                padding: 0px;
            }
        }
        
        h2 {
            font-size: 20px;
            padding-left: 10px;
        }
    }

    .main {
        display: flex;
        width: 85%;
        justify-content: space-between;
        padding-right: 80px;
        padding-left: 80px;

        

        .sorty {
            display: flex;
            h4{
                padding: 20px 10px;
                font-size: large;
            }
        }

        .search {
            display: flex;
           
            h3 {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                padding: 20px 10px;
                color: $white;
            }

            i {
                font-size: 22px;
                padding: 20px 10px;
            }
        }
    }
}

.game {
    display: flex;

    .menu {
        width: 15%;
        height: 700px;
        background-color: $black;
        color: $white;
        padding-top: 50px;

        
        
        .menu1 {
            padding-bottom: 20px;

            
            li {
                padding: 15px 10px;
                font-size: 20px;
                cursor: pointer;

                a{
                    text-decoration: none;
                    color: $white;
                    font-size: 20px;
                    transition: .25s;
                    padding: 8px 10px;
                    margin: 15px;
                    border-radius: 50px;
                }
                i{
                    font-size: 20px;
                    margin-right: 10px;
                }    
                a:hover{
                    letter-spacing: 0px;
                    background-color: $grey;
                    color: $white;
                }
            }
        }

        .last {
            display: flex;
            padding: 10px 22px;

            h4 {
                font-size: 20px;
                padding-top: 15px;
            }

            i {
                font-size: 23px;
                color: $white;
                padding-top: 15px;
            }
        }

        .d-flex {
            display: flex;
            padding: 15px 10px;
            
            .menu2 {
                padding-bottom: 20px;
                
                li {
                    padding: 20px 1px;
                    font-size: 20px;
                    cursor: pointer;
    
                    a{
                        text-decoration: none;
                        color: $white;
                        font-size: 20px;
                        transition: .25s;
                        padding: 8px 10px;
                        margin: 15px;
                        border-radius: 50px;
                    }
                    i{
                        font-size: 20px;
                        margin-right: 10px;
                    }    
                    a:hover{
                        letter-spacing: 0px;
                        background-color: $grey;
                        color: $white;
                    }
                }
            }
        }

    }

    .wen {
        height: 900px;
        width: 85%;
        background-color: rgb(59, 55, 55);
        color: $white;
        font-family: sans-serif;

        .releage {
            height: 120px;
            padding: 50px 80px;

            h1 {
                font-size: 35px;
                color: $white;
            }
        }

        .wen {
            margin-left: 120px;

            h3 {
                padding-top: 20px;
            }

            span {
                color: $grey;
            }
            .lal{
                position: relative;
                height: 25px;
                width: 60px;
                border: 1px solid orange;
                border-radius: 20px;
                text-align: center;
                top: 13px;
                left: 50px;
                p{
                    padding-top: 4px;
                }
            }
            &:hover .lal {
                background-color: 
            }

            .image {
                background-position: center;
                height: 220px;
                width: 160px;
                background-size: 100%;
                cursor: pointer;

                i {
                    font-size: 60px;
                    color: $white;
                    opacity: 0;
                    transition: .5s;
                    height: 220px;
                    width: 160px;
                    padding: 70px 50px;
                }

                &:hover i {
                    color: $white;
                    opacity: 0.6;
                }
            }
        }
    }
}